<!-- A message -->
<div class="flex items-start text-sm mb-14">
  <%= image_tag "logo.png", height:50, width:50  ,:class=>"mr-6"%>
    <div class="flex-1 overflow-hidden">
      <div>
        <span class="text-base"><%= message.user.email %></span>
        <span class="ml-2 text-xs text-grey"><%= message.created_at.localtime %></span>
      </div>
        <p class="text-base leading-normal text-black"><%= message.content %></p>
    </div>
</div>