<div>
<!-- Chat messages -->
        <div class="px-6 py-4 flex-1 overflow-y-scroll">
            <!-- A message -->
            <div class="flex items-start mb-4 text-sm">
                <div class="flex-1 overflow-hidden">
                    <div>
                        <span class="font-bold"><%= message.user.email %></span>
                        <span class="text-grey text-xs"><%= message.created_at %></span>
                    </div>
                    <p class="text-black leading-normal"><%= message.content %></p>
                </div>
            </div>
</div>