<% if resource.errors.any? %>
  <div class="flex flex-col mt-6 text-base italic text-red-500">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
