<section  class="w-full h-full fixed left-0 top-0 mx-auto flex justify-center items-center bg-black bg-opacity-30">
  <div class="w-1/3 h-3/5 p-2.5 bg-white rounded-3xl bg-opacity-80">
    <strong class="my-6 text-2xl text-gray-900 font-semibold"><%= @group.title %></strong>
      <div class="my-2 text-2xl">
        <div class="text-gray-700 font-bold py-2">描述:</div>
        <div class="p-1 mt-5"><%= @group.description %></div>
      </div>
      <button class="my-2 text-2xl mt-7 text-blue-400 py-2 "><%= link_to "加入頻道" , join_group_path(@group),method: "post" %></button>
      <div class="text-gray-400 text-2xl mt-4"><%= link_to "返回" , @group %></div>
  </div>
</section>

