<section  class="w-full h-full fixed left-0 top-0 mx-auto flex justify-center items-center bg-black bg-opacity-30">
  <div class="w-1/3 h-3/5 p-2.5 bg-white rounded-3xl">
    <h2 class="my-6 text-3xl ">創建頻道</h2>
    <p class="my-10 text-gray-500">频道是你的團隊進行通信的地方。圍繞主题進行組織時其效果最佳，例如#市場營銷#。</p>
    <%= form_for @group do |form| %>
      名稱：
      <div>
        <%= form.text_field :title ,:class=>"my-2 border-2 rounded text-2xl" %>
      </div>
      描述:
      <div>
        <%= form.text_field :description, :class=>"my-2 border-2 rounded text-2xl" %>
      </div>
      <button>
        <%= form.submit "創建" ,:class=>"mb-2 mt-6  bg-blue-500 hover:bg-blue-700 text-white rounded py-2 px-4" %>
      </button>
    <% end %>
  </div>
</section>

<script>
let button = document.querySelector(".button");
let text = document.querySelector(".text");

function Touch() {
  //button =<button class="absolute top-1">
  //button.classList = [absolute ,top-1] ,取得button的class並轉成陣列
  button.classList.toggle("buttonClass");
  // 對button做buttonClass狀態切換
  // classList.add(新增),classList.(移除),classList.toggle(切換這兩種狀態)
  if (button.classList.contains("buttonClass")) {
    // 如果button的class是否存在, contains判斷class是否存在並返回布林值
    text.innerHTML =
      "設為私人,當频道設置為私人時，只有受邀請之後才能查看或加入。";
  } else {
    text.innerHTML = "設為私人,這無法撤銷,私人頻道不能變更為公共頻道";
  }
}
</script>


