<nav class="flex justify-end mt-auto gap-x-10">
  <a href="/project/<%= @project.id %>/borad" class="text-icon border-b-2 border-transparent hover:border-gray-400 hover:text-gray-700 text-sm font-semibold pb-1.5">
    Kanban
  </a>
  <a href="/project/<%= @project.id %>/gantt" class="text-icon border-b-2 border-transparent hover:border-gray-400 hover:text-gray-700 text-sm font-semibold pb-1.5">
    甘特圖
  </a>
  <a href="#" class="text-icon border-b-2 border-transparent hover:border-gray-400 hover:text-gray-700 text-sm font-semibold pb-1.5">
    燃盡圖
  </a>
  <a href="/project/<%= @project.id %>/calendar" class="text-icon border-b-2 border-transparent hover:border-gray-400 hover:text-gray-700 text-sm font-semibold pb-1.5">
    行事曆
  </a>
  <a href="/" class="text-icon border-b-2 border-transparent hover:border-gray-400 hover:text-gray-700 text-sm font-semibold pb-1.5">
    主頁
  </a>
  <a href="#" class="text-icon border-b-2 border-transparent hover:border-gray-400 hover:text-gray-700 text-sm font-semibold pb-1.5">
    群組
  </a>
  <a href="#" class="text-icon border-b-2 border-transparent hover:border-gray-400 hover:text-gray-700 text-sm font-semibold pb-1.5">
    訊息
  </a>
</nav>

