<nav>
    <% if user_signed_in? %>
    <div>
      <%= current_user.username %>
      <div>
        <%= link_to "登出", destroy_user_session_path, method: 'delete' %>
      </div>
    <% else %>
      <div>
        <%= link_to "登入", new_user_session_path %>
        <%= link_to "註冊", new_user_registration_path %>
      </div>
    </div>    
  <% end %>
</nav>


