<nav>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <div>
      <%= link_to "log out", destroy_user_session_path, method: 'delete' %>
    </div>
  <% else %>
    <div>
      <%= link_to "sign in", new_user_session_path %>
      <%= link_to "sign up", new_user_registration_path %>
    </div>
  <% end %>
</nav>