<section w-full>
    <div class="flex justify-center">
        <h1 class="text-xl">訂單編號： <%= @order.serial %></h1>
    </div>

    <%= form_with url: pay_order_path(id: @order.serial),
                  methol: "post", 
                  data: {
                    controller: "braintree",
                    token: @token,
                    }  do |f| %>
        <div class = "flex justify-center" >
            <div data-braintree-target="payment"></div>
        </div>
        <div class = "flex justify-center" >
            <%= f.submit 'Pay!'%>
        </div>
    <% end %>
</section>
  