<form>
  <div class="">
    <label class="w-28 h-9 items-center text-icon text-xl">任務名稱：</label>
    <input type="text" name="title" placeholder="輸入任務名稱" class="text-xl line-clamp-1 w-56">
  </div>
  <div class="">
   <label class="w-28 h-9 items-center text-icon text-xl">
			任務日期：</label>
      <%= form.text_field [:start_time, :end_time], data: { "task-target": "datepicker", action: "input->task#selectdate" }, placeholder: "輸入開始日期&截止日期",:class=>"w-56" %>
      <input data-task-target="datepicker"      
             data-action="input->task#selectdate"
             placeholder="輸入開始日期&截止日期"
             class="w-56" name="date_time">
  </div>
  <div class="">
    <label class="w-28 h-9 items-center text-icon text-xl">
			指派任務：</label>
    <select name="user_id" id="">
      <% @user.each do |user| %>
        <option value="<%= user.id %>"><%= user.nickname %></option>
      <% end %>
    </select>
  </div>
  <div class="">
     <label class="w-28 h-9 items-center text-icon text-xl">
			優先順序：</label>
      <select name="priority" id="">
      <option value="-">-</option>
      <option value="高">高</option>
      <option value="中">中</option>
      <option value="低">低</option>
      </select>
  </div>
  <div class="">
    <label class="w-28 h-9 items-center text-icon text-xl block">
			任務描述：</label>
      <textarea name="cintent" id="" cols="30" rows="10" class="h-20 border border-transparent border-gray-300 focus:border-gray-400 rounded-md p-3 text-xl  outline-none justify-center w-full"></textarea>
  </div>
  <button data-action="input->task#taskPost" class="text-blue-100 no-underline bg-blue-500 rounded hover:bg-blue-600 hover:text-blue-200 text-xl p-1">submit</button>
</form>