<h1 class="m-3 text-2xl ">Board</h1>
<div class="w-full h-full flex bg-light" style="--color: #5a7896">
  <main class="flex-1 bg-white overflow-auto">
    <section data-controller="board" data-project-id="<%= @project.id%>" class="relative flex gap-x-4 overflow-x-auto py-4 px-6 board-container">
      <%= render "cardlist",columns: @columns,user: @user,model: [@project,@task],project: @project %>
      <%= form_with model:[@project,@column] ,url:project_columns_path(@project) do |form| %>
      <label>+ 新增階段</label>
      <%= form.text_field :status %>
      <% end %>

    </section>
  </main>
</div>
