<main class="flex-1 overflow-auto bg-white">
  <header class="h-[6.188rem] flex px-6 items-center justify-between border-b border-gray-200">
    <h1 class="text-2xl bold">行事曆</h1>
    <div class="flex items-center">
      <%= render "shared/header",project: @project %>
    </div>
  </header>
    <div class="flex items-center justify-between h-10 px-6 text-xs bg-white shadow">
      <div data-controller="calendar-switch" class="flex">
        <button data-action="click->calendar-switch#switchToMonth" class="flex items-center w-20 px-2 transition-all rounded h-7 text-icon hover:bg-hover hover:text-gray-700 group-focus-within:bg-hover group-focus-within:text-gray-700">
          month
          <div id="container" class="w-2/5"></div>
        </button>
        <button data-action="click->calendar-switch#switchToWeek" class="flex items-center w-20 px-2 transition-all rounded h-7 text-icon hover:bg-hover hover:text-gray-700 group-focus-within:bg-hover group-focus-within:text-gray-700">
          week
          <div id="container" class="w-2/5"></div>
        </button>
        <button data-action="click->calendar-switch#switchToDay" class="flex items-center w-20 px-2 transition-all rounded h-7 text-icon hover:bg-hover hover:text-gray-700 group-focus-within:bg-hover group-focus-within:text-gray-700">
          Day
          <div id="container" class="w-2/5"></div>
        </button>
      </div>
      <div class="relative z-20 group">
        <button class="flex items-center px-2 transition-all rounded h-7 text-icon hover:bg-hover hover:text-gray-700 group-focus-within:bg-hover group-focus-within:text-gray-700">
          <svg class="mr-1 fill-current" height="16" focusable="false" viewBox="0 0 32 32">
            <path d="M16,13c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S14.3,13,16,13z M3,13c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S1.3,13,3,13z M29,13c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S27.3,13,29,13z"/>
          </svg>
        </button>
      </div>
    </nav>
  </div>  
  <section>
    <div data-controller="calendar" data-project-id="<%= @project.id %>" data-action="switchToMonth@window->calendar#switchToMonth switchToWeek@window->calendar#switchToWeek switchToDay@window->calendar#switchToDay">
      <div id="calendar" style="height: 800px"></div>
    </div>
  </section>
</main>
