<header class="h-[6.188rem] flex px-6 items-center justify-between border-b border-gray-200">
  <h1 class="text-2xl bold"><%= @project.title %></h1>
  <div class="flex items-center">
    <%= render "shared/header",project: @project %>
  </div>
</header>
<section class="m-7">
  <% if @project.avatar.attached? %>
    <%=image_tag @project.avatar, width: '25%' %>
  <% else %>
    <h2 class="text-3xl">目前沒有任何檔案</h2>
  <% end %>
</section>