<div class="chart-controls" data-controller="gantt" data-project-id=<%= @project.id %>>
<p>Change Chart Timescale</p>
   <svg id="gantt" data-gantt-target="task"></svg>
      <p class="chart-label">
      Timescale: <span id="current-timescale">Day</span>
      </p>
<div class="button-cont">
      <button class="px-3 py-1 mb-3 text-white bg-gray-400 rounded-lg" data-action="click->gantt#day" >Day</button>
      <button class="px-3 py-1 text-white bg-gray-400 rounded-lg" data-action="click->gantt#week">Week</button>
      <button class="px-3 py-1 text-white bg-gray-400 rounded-lg" data-action="click->gantt#month">Month</button>
   </div>
</div>
<div class="flex flex-col items-center justify-center ">
  <button class="px-3 py-1 text-xl text-white bg-gray-400 rounded-lg"><%= link_to "返回" , project_path(@project) %></button>
</div>
