
 <%# <div data-controller="gantt" data-project-id="<%= @project.id %>
 <%# ">123</div> %>


<div class="chart-wrapper">
  <ul class="chart-values">
    <li>sun</li>
    <li>mon</li>
    <li>tue</li>
    <li>wed</li>
    <li>thu</li>
    <li>fri</li>
    <li>sat</li>
  </ul>
  <ul class="chart-bars">
    <li data-duration="wed-wed" data-color="#59a627">Task</li>
    <li data-duration="wed-sat" data-color="#33a8a5">Task</li>
    <li data-duration="sun-tue" data-color="#b03532">Task</li>
    <li data-duration="wed-wed" data-color="#6a478f">Task</li>
    <li data-duration="fri-sat" data-color="#4464a1">Task</li>
  </ul>
</div>
<footer class="page-footer">
  <a href="http://georgemartsoukos.com/" target="_blank"></a>

</footer>


