
<div>
  <header class="flex items-center justify-between h-24 px-6 border-b border-gray-200">
    <div class="flex items-center w-full"><%= render "shared/header" %></div>
  </header>
  <div class="chart-controls" data-controller="gantt" data-project-id=<%= @project.id %>>
      <svg id="gantt" data-gantt-target="task"></svg>
        <div class="mb-2 button-cont">

          <button class="px-6 py-2 mr-4 text-white rounded-xl bg-momo hover:bg-kohbai" data-action="click->gantt#day">Day</button>
          <button class="px-6 py-2 text-white rounded-xl bg-momo hover:bg-kohbai" data-action="click->gantt#week">Week</button>
          <button class="px-6 py-2 ml-4 text-white rounded-xl bg-momo hover:bg-kohbai" data-action="click->gantt#month">Month</button>

        </div>
  </div>

</div>
