<header class="h-[6.188rem] flex px-6 items-center justify-between border-b border-gray-200">
  <h1 class="text-2xl bold"><%= @project.title %></h1>
  <div class="flex items-center">
    <%= render "shared/header",project: @project %>
  </div>
</header>
<div class="chart-controls" data-controller="gantt" data-project-id=<%= @project.id %>>
    <svg id="gantt" data-gantt-target="task"></svg>
    <div class="mb-2 mt-8 button-cont ">
      <button class="px-6 py-2 mr-4 text-white rounded-xl bg-momo hover:bg-kohbai" data-action="click->gantt#day">Day</button>
      <button class="px-6 py-2 text-white rounded-xl bg-momo hover:bg-kohbai" data-action="click->gantt#week">Week</button>
      <button class="px-6 py-2 ml-4 text-white rounded-xl bg-momo hover:bg-kohbai" data-action="click->gantt#month">Month</button>
    </div>
</div>
