<section class="">
  <h1 class="ml-4 pt-4 text-xl">專案集</h1>
  <div class="text-lg m-auto pt-20 pb-4 w-11/12 border-b-2">近期的專案集 ▼</div>
  <div class="flex mt-12 ml-12 w-11/12">
    <div data-controller="index-project" class="mr-4">
      <button data-action="click->button-project#openProjectPopup" class="w-40 px-4 py-4 mb-4 hover:bg-gray-100 hover:rounded-lg">
        <img src="https://cdn-icons-png.flaticon.com/512/2040/2040525.png" class="w-28 h-28 m-auto mb-4">
        <p class="text-center">建立專案</p>
      </button>
    </div>
    <% if @projects.count > 0 %>
      <div>
        <% @projects.each do |project| %>
          <button data-action="click->button-project#openProjectPopup" class="w-48 px-4 py-4 mb-4 hover:bg-gray-100 hover:rounded-lg">
            <img src="https://cdn-icons-png.flaticon.com/512/2889/2889338.png" class="w-28 h-28 m-auto">
            <p class="text-center text-base"><%= link_to project.title, project %></p>
            <p class="text-center text-xs"><%= project.tasks.count %> 個任務</p>
          </button>
        <% end %>
      </div>
    <% else %>
      <div class="mr-4">
        <button data-action="click->button-project#openProjectPopup" class="w-48 px-4 py-4 mb-4 hover:bg-gray-100 hover:rounded-lg">
          <img src="https://cdn-icons-png.flaticon.com/512/2889/2889338.png" class="w-28 h-28 m-auto mb-4">
          <p class="text-center">建立你的第 1 個專案</p>
        </button>
      <div>
    <% end %>
  </div>
</section>