<div>
  <div>Welcome to join us !</div>
  <div>to login to the site, just follow below link</div>
    <%# <a href= "https://laxpm.herokuapp.com/" class:="text-blue-500">Learn more</a> %>
    <a href="http://127.0.0.1:3000/" class="text-blue-500">join us</a>
  <div> Thanks for joining and have a great day!</div>
</div>