<p><%= @resource.email %>，您好：</p>

<p>需要重設您的 Lax 密碼？</p>
<br/>
<p>按一下此處: <%= link_to '重置密碼', edit_password_url(@resource, reset_password_token: @token) %></p>
<br/>
<p>如果您認為自己誤收此電子郵件，直接忽略即可。</p>
<br/>
<p>謝謝！</p>

<p>團隊謹啟</p> 